

    <div class="row" style="margin-bottom:20px;">
            <div class="col-md-3 text-left">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" placeholder="Search..." type="text" (keyup)='search($event)' />
                </div>
            </div>
            
          </div>
    
    <p-table [columns]="cols" [value]="Totalanimals" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr >
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th>Action</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td><button type="submit" (click)="onClickMe(rowData)" class="btn btn-block btn-outline-secondary">
                        View details</button></td>
                </tr>
            </ng-template>
        </p-table>