<div  style="LINE-HEIGHT:50px" *ngIf = "doctordata">
  <div class="card" >
      <ul style="list-style-type:none;">
            <li>Registration Id: {{doctordata.id}}</li>
            <li>Name: {{doctordata.name}}</li>
            <li> Mobile Number :{{doctordata.mobile_number}}</li>
            <li>Email :{{doctordata.email}}</li>
            <li>State :{{doctordata.state}}</li>
            <li>District:{{doctordata.district}}</li>
            <li>Location:{{doctordata.location}}</li>
            <li>Treatment :{{doctordata.treatment}}</li>
            <li>Avaliability:{{doctordata.avaliability}}</li>
        </ul>    
  </div>

  <h1>Animals Treated</h1>
  <p-table [columns]="cols" [value]="treatment" [paginator]="true" [rows]="10" >
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns ">
                      
                  {{col.header}}
              </th>
              <!-- <th>Action</th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns ">
          <tr>
              <td *ngFor="let col of columns let idx=index">
                  <span *ngIf="idx == 0">
                      <a href="/animalregistration/animal/{{rowData[col.field]}}">{{rowData[col.field]}}</a>
                 </span>
                 <span *ngIf="idx != 0">
                    {{rowData[col.field]}}
                </span>
                       
                        
                 
              </td>
              <!-- <td><a [routerLink]=""      (click)="viewdata(rowData)">viewdetails</a></td> -->
              <!-- <a [routerLink]="" (click)="viewdata(col)">viewdetails</a> -->
          </tr>
      </ng-template>
    </p-table>
  </div>