<div class="animated fadeIn">
  <div class="row" >
    <div class="col-lg-4" >
      <div class="card">
        <!-- <div class="card-header">
          Add Request
        </div> -->
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-12">
                <!-- <div class="form-group">
                  <label for="AccountID">*AccountID</label>
                  <input type="text" class="form-control" placeholder="AccountID"  name="AccountID">
                </div>-->

                <div class="form-group">
                  <label for="Name">Username</label>
                  <input type="text" class="form-control" placeholder="Username" [(ngModel)]=" reportdata.user_name"  name="Username">
                </div> 
                <div class="form-group">
                  <label for="Name">Animal Id </label>
                  <input type="text" class="form-control" placeholder="Name" [(ngModel)]=" reportdata.animal_id"   name="AnimalId">
                </div> 
                <div class="form-group">
                  <label for="Name">Mobile </label>
                  <input type="text" class="form-control" placeholder="Mobile" [(ngModel)]=" reportdata.mobile_number"   name="Mobile">
                </div> 

                <div class="form-group">
                  <label for="Name">Add Request</label>
                  <textarea type="text" class="form-control" placeholder="add request ....." [(ngModel)]=" reportdata.report" name="report"></textarea>
                </div>

              </div>
            </div>

           
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <!--input type="submit" value="submit" (click)="addOperator( )" class="btn btn-secondary"-->
                  <button (click)="addOperator($event)" class="btn btn-secondary"> Save </button>
                  <button routerLink="/operators/view" class="btn btn-secondary">Cancel </button>
                
                </div>
              </div>
              <div class="col-sm-12">

                <span style="color:green">{{datamessage}}</span>
                <span style="color:red">{{errormessage}}</span>
                <br>
                <p *ngIf="datamessage">Your Username and Password are:</p>
                <span *ngIf="datamessage">Username: {{operator.Username}}</span>
                <br>
                <span *ngIf="datamessage">Password: {{operator.Password}}</span>
              </div>
            </div>

          </form>


        </div>
      </div>
    </div>
  </div>
</div>