<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Basic info
                </div>
                <div class="card-body" *ngIf="user">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Cattle Type</label>
                            <input type="text" class="form-control" [(ngModel)]="user.species">
                        </div>
                        <div class="col-sm-6">
                            <label>Breed</label>
                            <input type="text" class="form-control" [(ngModel)]="user.breed">
                        </div>
                        <div class="col-sm-6">
                            <label>Gender</label>
                            <input type="text" class="form-control" [(ngModel)]="user.gender">
                        </div>
                        <div class="col-sm-6">
                            <label>Age</label>
                            <input type="text" class="form-control" [(ngModel)]="user.animal_age">
                        </div>

                        <div class="col-sm-6">
                            <label>Animal Name</label>
                            <input type="text" class="form-control" [(ngModel)]="user.species">
                        </div>
                    </div>
                    <!-- <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right" (click)="editUser($event)">Submit</button>
                    </div> -->
                    <!-- </div> -->
                    <!-- <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                      </div> -->
                    <!-- </div> -->
                    <div class="card">
                        <div class="card-header" style="font-weight: bold;">
                            Breeding Details
                        </div>
                        <div class="card-body" *ngIf="user">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>No. of Calving</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.no_of_calving">
                                </div>
                                <div class="col-sm-6">
                                    <label>Calving Option</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.calving_option">
                                </div>
                                <div class="col-sm-6">
                                    <label>sire</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.sire">
                                </div>
                                <div class="col-sm-6">
                                    <label>Inseminator</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.inseminator">
                                </div>
                                <div class="col-sm-6">
                                    <label>Calf Sex</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.calf_sex">
                                </div>
                                <div class="col-sm-6">
                                    <label>Calving</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.calving">
                                </div>
                                <div class="col-sm-6">
                                    <label>Milking</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.milking">
                                </div>
                                <div class="col-sm-6">
                                    <label>Total Milk</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.total_milk">
                                </div>
                                <div class="col-sm-6">
                                    <label>Pregent Option</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.pregent_option">
                                </div>
                                <div class="col-sm-6">
                                    <label>Heat Sequencee</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.heat_sequence">
                                </div>
                            </div>
                            <!-- <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right">Submit</button>
                    </div> -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" style="font-weight: bold;">
                            Additional info
                        </div>
                        <div class="card-body" *ngIf="user">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Body Weight(Kg)</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.body_weight">
                                </div>
                                <div class="col-sm-6">
                                    <label>Color</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.color">
                                </div>
                                <div class="col-sm-6">
                                    <label>Teeth Count</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.teeth_count">
                                </div>
                                <div class="col-sm-6">
                                    <label>Horn Distance</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.horn_distance">
                                </div>
                                <div class="col-sm-6">
                                    <label>No. of Rings</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.no_of_rings">
                                </div>
                                <div class="col-sm-6">
                                    <label>Cattle Cost</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.cost">
                                </div>
                                <div class="col-sm-6">
                                    <label for="date-input">Date of Purchase</label>
                                    <input id="date-input" type="date" name="date-input" placeholder="date"
                                        class="form-control" class="form-control" [(ngModel)]="user.date_of_purchase">
                                </div>
                                <div class="col-sm-6">
                                    <label>Source</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.source">
                                </div>



                            </div>
                            <!-- <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right">Submit</button>
                    </div> -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" style="font-weight: bold;">
                            Family Breed & Genetics
                        </div>
                        <div class="card-body" *ngIf="user">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Through Artifical Inseminated</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.artificial_inseminated">
                                </div>
                                <div class="col-sm-6">
                                    <label>Fathered By(Semen)</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.fathered_by">
                                </div>
                                <div class="col-sm-6">
                                    <label>Mothered By</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.mother_by">
                                </div>

                            </div>
                            <!-- <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right">Submit</button>
                    </div> -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" style="font-weight: bold;">
                            Insurance
                        </div>
                        <div class="card-body" *ngIf="user">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Insurance No</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.insurance_no">
                                </div>
                                <div class="col-sm-6">
                                    <label>Insurance Value</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.insurance_cost">
                                </div>
                                <div class="col-sm-6">
                                    <label for="date-input">Start Date</label>
                                    <input id="date-input" type="date" name="date-input" placeholder="date"
                                        class="form-control" class="form-control" [(ngModel)]="user.starting_date">
                                </div>
                                <div class="col-sm-6">
                                    <label for="date-input">Due Date</label>
                                    <input id="date-input" type="date" name="date-input" placeholder="date"
                                        class="form-control" class="form-control" [(ngModel)]="user.ending_date">
                                </div>
                                <div class="col-sm-6">
                                    <label>Company</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.insurance_company">
                                </div>
                                <div class="col-sm-6">
                                    <label>Agent Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.agent_name">
                                </div>

                            </div>
                        </div>
                        <!-- <div class="form-group form-actions">
                    <button type="submit" class="btn btn-sm btn-primary" style="float: right">Submit</button>
                </div> -->
                    </div>
                    <div class="card">
                        <div class="card-header" style="font-weight: bold;">
                            Animal Sale
                        </div>
                        <div class="card-body" *ngIf="user">
                            <div class="form-group row">
                                <div class="col-sm-6">

                                    <label for="date-input">Date Of Sale</label>
                                    <input id="date-input" type="date" name="date-input" placeholder="date"
                                        class="form-control" [(ngModel)]="user.sold_date">
                                </div>
                                <div class="col-sm-6">
                                    <label>Approx. Cost (Rs)</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.approx_cost">
                                </div>
                                <div class="col-sm-6">
                                    <label>Reason</label>
                                    <input type="text" class="form-control" [(ngModel)]="user.reason">
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary" style="float: right"
                            (click)="editUser($event)">Submit</button>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Health Records
                </div>
                <div class="card-body">
                    <div class="form-group row" *ngFor="let char of health">
                        <div class="col-sm-4">
                            <label>Disease</label>
                            <input type="text" class="form-control" [(ngModel)]="char.disease">
                        </div>
                        <div class="col-sm-4">
                            <label>Vaccine</label>
                            <input type="text" class="form-control" [(ngModel)]="char.vaccine">
                        </div>
                        <div class="col-sm-4">
                            <label for="date-input">Date</label>
                            <input id="date-input" type="date" name="date-input" placeholder="date" class="form-control"
                                [(ngModel)]="char.treated_on">
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary " style="float: right"
                            (click)="edithealth($event)">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>