<!-- <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3 text-left">
            <div class="input-group"> -->
                <!-- <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div> -->
                <!-- <input class="form-control" placeholder="Select Filter" type="text"  (keyup)='search()' />
                <div class="col-sm-4">
                        <div class="form-group">
                                <button type="button" class="btn btn-square  btn-primary">submit</button>
                        </div>
                      </div>
                
            </div>
        </div>
    
    </div> -->

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3 text-left">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input class="form-control" placeholder="Search..." type="text" (keyup)='search($event)' />
            </div>
        </div>
        
      </div>

      <p-table #dt1 [columns]="cols" [value]="Totalanimals" [paginator]="true" [rows]="10" dataKey="vin" [resizableColumns]="true" [reorderableColumns]="true"
      stateKey="statedemo-session">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Edit</th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                <input pInputText type="text"  style="width: 100px;" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt1.filters[col.field]?.value">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns let idx=index">
                    <span *ngIf="idx == 0">
                            <a href="/animalregistration/animal/{{rowData[col.field]}}">{{rowData[col.field]}}</a>
                       </span>
                       <span *ngIf="idx != 0">
                            {{rowData[col.field]}}
                        </span>
            </td>
            <td><button type="submit" (click)="editMe(rowData)" class="btn btn-block btn-outline-secondary">
                    Edit</button></td>
        </tr>
    </ng-template>
</p-table>
<!-- <p-table [columns]="cols" [value]="Totalanimals" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr >
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Action</th>
                <th>Edit</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td><button type="submit" (click)="onClickMe(rowData)" class="btn btn-block btn-outline-secondary">
                    View details</button></td>
                    <td><button type="submit" (click)="editMe(rowData)" class="btn btn-block btn-outline-secondary">
                       Edit</button></td>
            </tr>
        </ng-template>
    </p-table> -->