<p-table [columns]="cols" [value]="Totalreport" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns ">
                    
                {{col.header}}
            </th>
            <th>Action</th>
            <!-- <th>Action</th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns let idx=index">
                <span *ngIf="idx == 0">
                            <!-- <a href=""> -->
                                {{rowData[col.field]}}
                            <!-- </a> -->
                       </span>
                       <!-- <span *ngIf="idx == 3">
                        {{rowData[col.field]}}</a>
                   </span> -->
                       <span *ngIf="idx != 0">
                           {{rowData[col.field]}}
                       </span>
                <!-- {{rowData[col.field]}} -->
            </td>
            <!-- <td>
                View detailss</td> -->
            <td><a href = "">viewdetails</a></td>
        </tr>
    </ng-template>
  </p-table>