<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            
            <!-- <div class="card"> -->
                <!-- <div class="card-header" style="font-weight: bold;">
                    Health Records
                </div> -->
                <!-- <div class="card-body"> -->
                    <div class="form-group row" >
                        <div class="col-sm-4">
                            <label>State</label>
                            <select id="department"    [(ngModel)]="dropdownselected"  class="form-control" [(ngModel)]="reportdata.state" >
                                    <option *ngFor = "let emp of dropdownoption" [value] = "emp.value">{{emp.name}}</option>
                                      
                                      
                                   </select>
                        </div>
                        <div class="col-sm-4">
                                <label for="date-input">Start Date</label>
                                <input id="date-input" type="date" name="date-input" placeholder="date" class="form-control" [(ngModel)]="reportdata.start_date" >
                            </div>
                        <div class="col-sm-4">
                            <label for="date-input">End Date</label>
                            <input id="date-input" type="date" name="date-input" placeholder="date" class="form-control" [(ngModel)]="reportdata.end_date" >
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary " style="float: right"
                            (click)="editreport($event)">Submit</button>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>

         


        
    </div>
</div>
<div style="text-align:center ;margin-top:20px; margin-bottom: 20px;" *ngIf = "tableshow">TOTAL AMOUNT :   {{   totalamount}}

    <button class="btn" (click)="exportAsXLSX()" style="float:right;     color:blue;" *ngIf = "tableshow"><i class="fa fa-download"></i> Download </button>
</div>
<p-table #dt1 [columns]="cols"  [value]="reporttabledata" [paginator]="true" [rows]="10" dataKey="vin" [resizableColumns]="true" [reorderableColumns]="true"
stateKey="statedemo-session" *ngIf = "tableshow">
<ng-template pTemplate="header" let-columns>
  <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
     
  </tr>
  <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
          <input pInputText type="text"  style="width: 100px;" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt1.filters[col.field]?.value">
      </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns let idx=index">
              <span *ngIf="idx == 0">
                      <a href="/animalregistration/animal/{{rowData[col.field]}}">{{rowData[col.field]}}</a>
                 </span>
                 <span *ngIf="idx != 0">
                      {{rowData[col.field]}}
                  </span>
      </td>
      <!-- <td><button type="submit" (click)="editMe(rowData)" class="btn btn-block btn-outline-secondary">
              Edit</button></td> -->
  </tr>
</ng-template>
</p-table>