<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 mb-4">
        <!-- <Nav tabs -->
        <tabset>
          <tab heading="Basic info">
            
              <ul style="list-style-type:none;">
                  <li>Cattle Type: {{animaldata.species}}</li>
                  <hr style="height:15px;">
                  <li>Breed: {{animaldata.breed}}</li>
                  <hr style="height:15px;">
                  <li>Gender: {{animaldata.gender}}</li>
                  <hr style="height:15px;">
                  <li>Age : {{ animaldata.animal_age}}</li>
                  <hr style="height:15px;">
                  <li>Animal Name: N/A</li>
                  
                  <!-- <img *ngIf="imagedata[0]" [src]="domSanitizer.bypassSecurityTrustUrl(imagedata)" width="250" /> -->
                </ul> 
                <ul  *ngFor="let char of imagedata "><img src="{{char.image}}" width="250" /></ul>
                
          </tab>
          <tab heading="Breeding Details">
              <ul style="list-style-type:none;">
                  <li>No. of Calving: {{animaldata.no_of_calving}}</li>
                  <hr style="height:15px;">
                  <li>Calving Option: {{animaldata.calving_option}}</li>
                  <hr style="height:15px;">
                  <li>sire: {{animaldata.sire}}</li>
                  <hr style="height:15px;">
                  <li>Inseminator : {{ animaldata.inseminator}}</li>
                  <hr style="height:15px;">
                  <li>Calf Sex: {{animaldata.calf_sex}}</li>
                  <hr style="height:15px;">
                  <li>Calving: {{animaldata.calving}}</li>
                  <hr style="height:15px;">
                  <li>Milking: {{animaldata.milking}}</li>
                  <hr style="height:15px;">
                  <li >Total Milk: {{animaldata.total_milk}}</li>
                  <hr style="height:15px;">
                  <li>Pregent Option: {{animaldata.pregent_option}}</li>
                  <hr style="height:15px;">
                  <li >Heat Sequence: {{animaldata.heat_sequence}}</li>
                </ul> 
          </tab>
          <tab heading="Health Records">
            <ul style = "list-style-type:none;" *ngFor="let hero of healthdata">
                <li>Disease:{{hero.disease}}</li>
                <li>Vaccine:{{hero.vaccine}}</li>
                <li>Date:{{hero.date}}</li>
                <hr style="height:15px;">
            </ul>
            
          </tab>
          <tab heading="Additional info">
              <ul style="list-style-type:none;">
                  <li>Body Weight(Kg): {{animaldata.body_weight}}</li>
                  <hr style="height:15px;">
                  <li>Color: {{animaldata.color}}</li>
                  <hr style="height:15px;">
                  <li>Teeth Count: {{animaldata.teeth_count}}</li>
                  <hr style="height:15px;">
                  <li>Horn Distance : {{ animaldata.horn_distance}}</li>
                  <hr style="height:15px;">
                  <li>No. of Rings: {{animaldata.no_of_rings}}</li>
                  <hr style="height:15px;">
                  <li>Cattle Cost: {{animaldata.cost}}</li>
                  <hr style="height:15px;">
                  <li>Date of Purchase: {{animaldata.date_of_purchase}}</li>
                  <hr style="height:15px;">
                  <li x>Source: {{animaldata.source}}</li>
                </ul> 

          </tab>
          <tab heading="Family Breed & Genetics">
              <ul style="list-style-type:none;">
                  <li>Through Artifical Inseminated: {{animaldata.artificial_inseminated}}</li>
                  <hr style="height:15px;">
                  <li>Fathered By(Semen): {{animaldata.fathered_by}}</li>
                  <hr style="height:15px;">
                  <li>Mothered By: {{animaldata.mother_by}}</li>
                  
                </ul> 

          </tab>
          <tab heading="Insurance">
              <ul style="list-style-type:none;">
                  <li>Insurance No: {{animaldata.insurance_no}}</li>
                  <hr style="height:15px;">
                  <li>Insurance Value: {{animaldata.insurance_cost}}</li>
                  <hr style="height:15px;">
                  <li>Start Date: {{animaldata.starting_date}}</li>
                  <hr style="height:15px;">
                  <li>Due Date : {{ animaldata.ending_date}}</li>
                  <hr style="height:15px;">
                  <li>Company: {{animaldata.insurance_company}}</li>
                  <hr style="height:15px;">
                  <li> Agent Name: {{animaldata.agent_name}}</li>
                </ul> 
          
          
          </tab>
          <tab heading="Animal Sale">
              <ul style="list-style-type:none;">
                  <li>Date Of Sale: {{animaldata.sold_date}}</li>
                  <hr style="height:15px;">
                  <li>Approx. Cost (Rs): {{animaldata.approx_cost}}</li>
                  <hr style="height:15px;">
                  <li>Reason: {{animaldata.reason}}</li>
                  
                </ul> 

          </tab>
        </tabset>
      </div>
      </div>
      </div>

      <!-- <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control"> -->

      <!-- <input type="file" (change)="fileChangeEvent($event)" />
      <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="16 / 9"
    [resizeToWidth]="100"
    format="jpeg"
    (imageQuality) = "100"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" /> -->



<!-- <img [src]="url" height="200"> <br/>
<input type='file' (change)="onSelectFile($event)"> -->