<div class="animated fadeIn">
  <div class="card-columns cols-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p>SALE BY BREED</p>
          </div>
          <div class="col-sm-6  ">
              <select id="department"   (change) = "breedbydata($event)" [(ngModel)]="dropdownselectedcanvas" style=" position: relative; right: -65px;" >
                  <option *ngFor = "let emp of dropdownoption" [value] = "emp.value">{{emp.name}}</option>
                    
                    
                 </select>
            <!-- <div class="dropdown">
              <button class="dropbtn">By year
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a  (click) = "breedbydata('year')">By Year</a>
                <a  (click) = "breedbydata('month')">By Month</a>
                <a  (click) = "breedbydata('week')">By Week</a>

              </div>
            </div> -->
          </div>
        </div>
        <!-- <p style="text-align:center">Total Sale:{{totalcountbyanimal}}</p> -->
        <div class="chart-wrapper">
          <canvas id="canvas"></canvas>
        </div>

        <div>
          <table style="margin-top: 10px" class="table">
            <tbody>
              <tr *ngFor="let char of Totalmembers">
                <td (click)="clickme(char.species)"><span class="dot"
                    [ngStyle]="{ 'background-color':char.color}"></span> {{char.species}}</td>
                <td>{{char.count}} <mark style="font-size:10px">{{char.percentage}}%</mark> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-6">
          <p style="position: relative;
              left: 10px;">SALE BY STATE</p>
        </div>
        <div class="col-sm-6  ">
            <select id="department"   (change) = "statebydata($event)" [(ngModel)]="dropdownselected" style=" position: relative; right: -65px;" >
                <option *ngFor = "let emp of dropdownoption" [value] = "emp.value">{{emp.name}}</option>
                  <!-- <option value = "Andhra Pradesh" selected="selected" >Andhra Pradesh</option>
                 <option value = "karnataka" >karnataka</option>
                 <option value = "Maharashtra" >Maharashtra</option>
                 <option value = "Telangana" >Telangana</option> -->
                  
               </select>
          <!-- <div class="dropdown">
            <button class="dropbtn" style="position: relative;
                    right: 10px;">By year
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a  (click) = "statebydata('year')">By Year</a>
                <a  (click) = "statebydata('month')">By Month</a>
                <a  (click) = "statebydata('week')">By Week</a>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <p style="text-align:center">Total Sale:{{totalcountbystate}}</p> -->
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas id="canvas1"></canvas>
        </div>
        <table style="margin-top: 10px" class="table">
          <tbody>
            <tr *ngFor="let char of Salebystate ">
              <td> <span class="dot" [ngStyle]="{ 'background-color':char.color}"></span> {{char.state}}</td>
              <td>{{char.count}} <mark style="font-size:10px">{{char.percentage}}%</mark></td>
            </tr>
            <tr>
              <td *ngIf="moredetails"><span style="color:red" >&#43; Moreitems</span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-6">
          <p style="position: relative;
            left: 10px;">SALE BY DISTRICT</p>
        </div>
        <!-- <div class="col-sm-4  "> -->
            <!-- <label for="department">Department</label> -->
            <!-- <select id="department"   (change) = "datebydistrict($event)" [(ngModel)]="department">
              <option value = "Andhra Pradesh" >Andhra Pradesh</option>
              <option value = "karnataka" >karnataka</option>
              <option value = "Maharashtra" >Maharashtra</option>
              <option value = "Telangana" >Telangana</option>
               
            </select><br/> -->
          <!-- <div class="dropdown">
            <button class="dropbtn" style="position: relative;
                  right: 10px;">Andhra Pradesh
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a  (click) = "datebydistrict('Andhra Pradesh')">Andhra Pradesh</a>
                <a  (click) = "datebydistrict('karnataka')">karnataka</a>
                <a  (click) = "datebydistrict('Maharashtra')">Maharashtra</a>
                <a  (click) = "datebydistrict('Telangana')">Telangana</a>
            </div>
          </div> -->
        <!-- </div> -->
        <div class="col-sm-6  ">
            <select id="department"   (change) = "datebydistrict($event)" [(ngModel)]="department" style=" position: relative; right: -30px;" >
               <option *ngFor = "let emp of dropdowndata" [value] = "emp.name">{{emp.name}}</option>
                 <!-- <option value = "Andhra Pradesh" selected="selected" >Andhra Pradesh</option>
                <option value = "karnataka" >karnataka</option>
                <option value = "Maharashtra" >Maharashtra</option>
                <option value = "Telangana" >Telangana</option> -->
                 
              </select>
          <!-- <div class="dropdown">
            <button class="dropbtn" style="position: relative;
                  right: 10px;">Andhra Pradesh
              <i class="fa fa-caret-down"></i>
            </button>
            <div   class="dropdown-content">
              <a  (click) = "datebydistrict('Andhra Pradesh')">Andhra Pradesh</a>
              <a  (click) = "datebydistrict('karnataka')">karnataka</a>
              <a  (click) = "datebydistrict('Maharashtra')">Maharashtra</a>
              <a  (click) = "datebydistrict('Telangana')">Telangana</a>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <p style="text-align:center">Total Sale:{{totalcountbystate}}</p> -->
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas id="canvas3"></canvas>
        </div>
        <table style="margin-top: 10px" class="table">
          <tbody>
            <tr *ngFor="let char of salebydistrict ">
              <td> <span class="dot" [ngStyle]="{ 'background-color':char.color}"></span> {{char.district}}</td>
              <td>{{char.count}} <mark style="font-size:10px">{{char.percentage}}%</mark></td>
            </tr>
            <tr>
                 <!-- (click)="onClickMe()"  -->
              <td *ngIf="moredetails"><span style="color:red" >&#43; Moreitems</span></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
   

  </div>
  <div class="card-columns cols-2">
    <div class="card">
      <div class="row" style="margin-top:10px;">
        <div class="col-sm-6">
          <p style="position: relative;
            left: 10px;">ANALYTICS</p>
          <h6 style="position: relative;
            left: 10px;">Unique visitors</h6>
        </div>
        <div class="col-sm-6  ">
          <div class="dropdown">
            <button class="dropbtn" style="position: relative;
                  right: 10px;">Last 3 week
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a (click)="linebyweek(3)">Last3 week</a>
              <a (click)="linebyweek(6)">Last6 week</a>
              <a (click)="linebyweek(12)">Last12 week</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas id="canvas2"></canvas>
        </div>
      </div>
    </div>
    
  </div>
</div>