<!-- <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3 text-left">
            <div class="input-group"> -->
                <!-- <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div> -->
                <!-- <input class="form-control" placeholder="Select Filter" type="text"  (keyup)='search()' />
                <div class="col-sm-4">
                        <div class="form-group">
                                <button type="button" class="btn btn-square  btn-primary">submit</button>
                        </div>
                      </div>
                
            </div>
        </div>
    
    </div> -->

    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3 text-left">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input class="form-control" placeholder="Search..." type="text" (keyup)='search($event)' />
            </div>
        </div>
        
      </div>

<p-table [columns]="cols" [value]="Totalanimals" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr >
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>Action</th>
                
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td><a [routerLink]=""      (click)="viewdata(rowData)">viewdetails</a></td>
               
            </tr>
        </ng-template>
    </p-table>