<div  style="LINE-HEIGHT:50px" *ngIf = "logisticsdata">
        <div class="card" >
            <ul style="list-style-type:none;">
                  <li>ID: <a href = "/registeredmembers/{{logisticsdata.login_id}} " target="_blank">{{logisticsdata.login_id}}</a></li>

                  <li>Name : {{logisticsdata.name}}</li>
                  <li> Requested Loan Amount :{{logisticsdata.requested_loan_amount}}</li>
                  <li>Bank Name :{{logisticsdata.bank_name}}</li>
                  <li>Applied On :{{logisticsdata.applied_on}}</li>
                  <li>Status:{{logisticsdata.status}}</li>
                  <li>Approved On :{{logisticsdata.approved_on}}</li>
                  <li>Loan Amount Received:{{logisticsdata.loan_amount_received}}</li>
              </ul>    
        </div>
        </div>