<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" style="font-weight: bold;">
                    Basic info
                </div>
                <div class="card-body" *ngIf="Memberdata">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Email</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.email">
                        </div>
                        <div class="col-sm-6">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.mobile_number">
                        </div>
                        <div class="col-sm-6">
                            <label>Password</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.password">
                        </div>
                        <div class="col-sm-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.first_name">
                        </div>

                        <div class="col-sm-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.last_name">
                        </div>

                        <div class="col-sm-6">
                            <label>Age</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.age">
                        </div>
                        <div class="col-sm-6">
                            <label>Gender</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.gender">
                        </div>
                        <div class="col-sm-6">
                            <label>State</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.state">
                        </div>
                        <div class="col-sm-6">
                            <label>District</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.district">
                        </div>
                        <div class="col-sm-6">
                            <label>Location</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.location">
                        </div>
                        <div class="col-sm-6">
                            <label>Address</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.address">
                        </div>
                        <div class="col-sm-6">
                            <label>Pincode</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.pincode">
                        </div>
                        <div class="col-sm-6">
                            <label>Aadhar no.</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.aadhar_no">
                        </div>
                        <div class="col-sm-6">
                            <label>Account Number</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.account_number">
                        </div>
                        <div class="col-sm-6">
                            <label>Account Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.account_name">
                        </div>
                        <div class="col-sm-6">
                            <label>Bank Name</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.bank_name">
                        </div>
                        <div class="col-sm-6">
                            <label>IFSC code</label>
                            <input type="text" class="form-control" [(ngModel)]="Memberdata.ifsc_code">
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn btn-sm btn-primary " style="float: right"
                            (click)="editdata($event)">Submit</button>
                    </div>
                    

                    
                   
                    
           
        </div>
    </div>
</div>