<div  style="LINE-HEIGHT:50px" *ngIf = "logisticsdata">
        <div class="card" >
            <ul style="list-style-type:none;">
                  <li>Name: {{logisticsdata.name}}</li>
                  <li> Mobile Number :{{logisticsdata.mobile_number}}</li>
                  <li>Email :{{logisticsdata.email}}</li>
                  <li>State :{{logisticsdata.state}}</li>
                  <li>District:{{logisticsdata.district}}</li>
                  <li>Location:{{logisticsdata.location}}</li>
                  
              </ul>    
        </div>
        </div>