// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
// .sidebar {
// 	background: #0a10bf  ;
// 	background-size:cover;
// }
// .app-footer{
//     background:#00FFFF;
// }
// .app-body{
//     background-image: url('G:/Pashumart-admin/src/assets/img/avatars/logo.svg')
// }